body{
  color: black ;
  margin: 0 ;
  font-family: Arial, Helvetrica ;
  line-height:1.6em ;

}
.Heading{
  color : white;
  
  padding: 20px;
  text-align: center;
  background-color:grey ; 

}
.Heading h1{
  color : orange;
  font-style: bold ;
}
.box-1{
  background-color: #333 ;
  color: #fff ;

  border-right: 5px red solid;
  border-left: 5px red solid;
  border-top: 5px red solid;
  border-bottom: 5px red solid;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;

  /* Same as above */
  padding: 20px;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
} 

.box-1 h1{
  font-
}